<div class="top">
	<h1>Admin</h1>
</div>

<div class="management-wrapper">

	<div class="left-block management">
		<h2>Manage DJ's</h2>
		<p>View DJ's</p>
		<p>Create a new DJ</p>
	</div>

	<div class="center-block management">
		<h2>Manage Shows</h2>
	</div>

	<div class="right-block management">
		<h2>Manage Songs and Requests</h2>
	</div>
</div>