<div class="top">
	<h1>Welcome to the WIXQ Admin</h1>
</div>

<div class="management-wrapper">

	<a href="<%= admin_djs_path %>" class="management">
		<h2>View DJ's</h2>
	</a>

	<a href="<%= admin_djs_path + "/new" %>" class="management">
		<h2>Create a new DJ</h2>
	</a>

	<a href="<%= admin_shows_path %>" class="management">
		<h2>View Shows</h2>
	</a>

	<a href="<%= admin_shows_path + "/new" %>" class="management">
		<h2>Create a New Show</h2>
	</a>

	<a href="#" class="management">
		<h2>View Song Logs</h2>
	</a>

	<a href="#" class="management">
		<h2>View Requests</h2>
	</a>
</div>