<div class="center">
	<p>WIXQ is your number one music source!
	broadcasting in the Lancaster/Millersville area
	call us at 717-871-7075</p>
</div>

<div class="request-block center">
	Send a request to: <%= @show_name %>

	<div class="request-form">
		<input class="form-field" type="text" id="song" name="song" placeholder="song name"></input>
		<input class="form-field" type="text" id="artist" name="artist" placeholder="artist"></input>
		<input class="form-field" type="text" id="requester" name="requester" placeholder="requested by"></input>
	</div>

	<div class="orange-button submit-request">submit</div>
</div>