<div class="summary gold-box">
	<p>WE LIKE MEMES</p>
</div>

<div class="right gold-box">
</div>

<div class="bottom-left gold-box">
	<div class="now-playing">
		Now Playing on <span class="show_name"><%= @show_name %></span>:
	 	<span class="song_title"><%= @song_title %></span> by
		<span class="song_artist"><%= @song_artist %></span>
		</div>
</div>