<div class="summary gold-box">
	<p>Welcome to the website of WIXQ 91.7, Millersville University's FM radio station. WIXQ servers the Millersville
	and Lancaster areas with music hand selected by university students and faculty. From classic rock and hip hop to
	progressive metal and electronica, you'll hear it all on WIXQ 91.7 - The 'Ville.</p>
</div>

<div class="right gold-box">
</div>

<div class="bottom-left gold-box">
	<div class="now-playing">
		Now Playing on <span class="show_name"><%= @show_name %></span>:
	 	<span class="song_title"><%= @song_title %></span> by
		<span class="song_artist"><%= @song_artist %></span>
		</div>
</div>