<div class="center hero"></div>

<div class="about-text">WIXQ is your number one music source!
	broadcasting in the Lancaster/Millersville area
	call us at 717-871-7075
</div>
<div class="clearfix"></div>

<div class="request-block center">
	Send a request to: <%= @show_name %>

	<div class="request-form">
		<input class="form-field" type="text" id="song" name="song" placeholder="song name"></input>
		<input class="form-field" type="text" id="artist" name="artist" placeholder="artist"></input>
		<input class="form-field" type="text" id="requester" name="requester" placeholder="requested by"></input>
	</div>

	<div class="orange-button submit-request">submit</div>
</div>


<div class="footer">
	<div class="footer-content">
		Hey man it's the footer there sure is some crazy stuff down here
	</div>
	<div class="footer-bottom-strip"></div>
</div>