@import "common";

.top {
	width: 50%;
	margin: auto auto;
	text-align: center;
}

.center-content {
	width: 60%;
	margin: auto auto;
	text-align: center;
}

.error {
	color: #F90202;
}

input, select {
	margin: .5em .5em;
}

.management-wrapper {
	margin: auto auto;
	text-align: center;
	width: 50%;
}

.management {
	height: 100px;
	width: 20%;
}

.admin-link {
	height: 20px;
	width: 100px;
}

.button-link {
	border: 2px solid $gold;
	border-radius: 	10px;
	display: inline-block;
	vertical-align: top;
	margin: 1em 1em;
	transition: background-color 0.5s ease;
	padding: .5em;
}

.button-link:link {
	text-decoration: none;
	color: $dark-grey;
}

.button-link:visited {
	color: $dark-grey;
}

.button-link:hover {
	background-color: $beige;
}

.tile {
	display: inline-block;
	margin: 1em 1em;
	padding: 1em;
	width: 20%;
	border: 2px solid $gold;
	border-radius: 	10px;
	vertical-align: top;
}
