// Place all the styles related to the admin/admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "common";

$gold: #A67E19;

.top {
	width: 50%;
	margin: auto auto;
	text-align: center;
}

.management-wrapper {
	margin: auto auto;
	text-align: center;
	width: 100%;
}

.management {
	height: 200px;
	width: 25%;
	border: 2px solid $gold;
	border-radius: 	10px;
	display: inline-block;
	vertical-align: top;
	margin: 1em 1em;
	transition: background-color 0.5s ease;
}

.management:link {
	text-decoration: none;
	color: $dark-grey;
}

.management:visited {
	color: $dark-grey;
}

.management:hover {
	background-color: $beige;
}