// Place all the styles related to the admin/dj controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com
@import 'common';

.all-djs {
	text-align: center;
}

.dj-button {
	width: 20%;
}

#dj_bio {
  height: 100px;
  width: 250px;
}

label {
  vertical-align: top;
}
