<div class="center-content">

<p>The "live" page will be a portal for DJ's to perform all the actions they need to perform
during their shows.</p>

<ul>
	<li>Log Songs</li>
	<li>View and acknowledge requests</li>
	<li>Get a notification 5 minutes before ads need to be played</li>
	<li>Chat with viewers</li>
</ul>

</div>