<% if @requests.any? %>
<h2>Pending Requests</h2>
	<ul>
		<% @requests.each do |request| %>
			<li>
				Requested by <%= request.requested_by %> at <%= request.created_at.strftime("%l:%M %p %m-%d-%Y") %>
			</li>
			<ul>
				<li>
					Song: <%= request.title %>
				</li>
				<li>
					Artist: <%= request.artist %>
				</li>
			</ul>
		<% end %>
	</ul>
<% end %>

<form class="log-song-form">
	<div class="log-song-form-area">
		<label for="title">Song Name: </label><input name="title" id="title" type="text" />
	</div>
	<div class="log-song-form-area">
		<label for="artist">Artist: </label><input name="artist" id="artist" type="text" />
	</div>
	<div class="log-song-form-area">
		<label for="requested_by">Requested By (leave blank if not a request)</label><input name="requested_by" id="requested_by" type="text" />
	</div>
	<div class="log-song-form-area">
		<input type="submit" />
	</div>
</form>
