/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "common";

 body {
 	margin: 0px;
 	font-family: 'Roboto Condensed', sans-serif;
 	color: $dark-grey;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.header-hero {

	background-color: $white;
	text-align: center;
	margin: auto auto;
}

.header-hero img {
	width: auto;
	height: $header-height;
	margin: 5px auto 5px auto;
}

.header-bar {
	height: 7px;
	background-color: $orange;
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.body-wrap {
	padding-top: 82px;
}

.alert-success {
	margin: auto auto;
	width: 40%;
	text-align: center;
	padding: .5em;
	background-color: #A1E3A9;
}
