/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "common";

 body {
 	margin: 0px;
 	font-family: 'Roboto Condensed', sans-serif;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	background-color: $white;
}

.header-hero {
	text-align: center;
	margin-right: -60px;
	width: 35%;
}

.header-hero img {
	width: auto;
	height: $header-height;
	margin: 5px auto;
}

.header-bar {
	height: 7px;
	background-color: $orange;
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.audio-player {
	margin: 15px auto;
	font-size: 1.5em;
	background-color: $orange;
	color: $white;
	padding: 5px;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	/*bottom internal shadow*/
	box-shadow: 0 2px 1px #5B3700; 


  	-o-transition: all .13s ease-in-out;
  	-ms-transition:all .13s ease-in-out;
  	-moz-transition:all .13s ease-in-out;
  	-webkit-transition:all .13s ease-in-out;
}

.audio-player:hover {
	cursor: pointer;
	box-shadow: 0 6px 7px #5B3700; 
}

.body-wrap {
	padding-top: 82px;
}

.alert-success {
	margin: auto auto;
	width: 40%;
	text-align: center;
	padding: .5em;
	background-color: #A1E3A9;
}

.clearfix {
	clear: both;
}

.float-left {
	float: left;
}