// colors
$orange: #ff9a00;
$dark-grey: #3d362c;
$light-grey: #9E9A96;
$beige: #efe0b7;
$white: #ffffff;
$gold: #A67E19;
$black-ish: #3D362D;

// other vars
$header-height: 60px;
$desktop-min-width: 1365px;

.orange-button {
	color: $white;
	background: $orange;
	border-radius: 3px;
	padding: 5px;
}
