@import 'common';

ul {
	list-style-position: inside;
}

.dvLiveContainer {
  width: 50%;
  margin: 1em 1em;
  padding: .5em;
  border: 2px solid $gold;
  border-radius: 10px;
}

.dvPendingRequests {
  li {
    padding: .2em;
  }
}

label {
	display: inline-block;
	width: 250px;
}

.log-song-form {
	.log-song-form-area {
		display: block;
	}
}
